<div class="container">
    <h2>Change Password</h2>
    <hr/>
    <div id="dashboardpage">
        <div id="dashboardform">
            <div id="hideoncomplete">
                <form name='dform' ng-submit="changePassword(dform.$valid, '@redirect')">
                    <div class="dashboardform-label">Old Password</div>
                    <input class="dashboardform-input" name='oldField' type='password' spellcheck='false' ng-model="password.old" required />
                    <div class="dashboardform-label">New Password</div>
                    <input class="dashboardform-input" name='name' type='password' spellcheck='false' ng-model="password.new1" required />
                    <div class="dashboardform-label">Confirm Password</div>
                    <input class="dashboardform-input" type='password' spellcheck='false' ng-model="password.new2" required />
                    <div class="error-message-inline" ng-show="0==status&&dform.oldField.$invalid">*Missing Old Password*</div>
                    <div class="error-message-inline" ng-show="403==status">*Old Password doesn't match*</div>
                    <div class="error-message-inline" ng-show="0==status&&dform.oldField.$valid&&password.new1.length<6">*New Password is too short*</div>
                    <div class="error-message-inline" ng-show="0==status&&password.new1.length>5&&password.new1!=password.new2">*Passwords don't match*</div>
                    <div class="error-message" ng-show="0!=status&&1!=status&&403!=status&&200!=status"><br />*Oops, something happened... Try again.*</div>
                    <div class="hidden-submit"><input type="submit" tabindex="-1"/></div>
                </form>
                <div id="dashboardform-button">
                    <div><a class="signup green-button-2" onclick="$('Form').submit()">Save</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

