
<div class="container">
    <h2 style="display:inline;">Account</h2>
    <hr/>
    <div id="dashboardpage">
        <div id="dashboardform">
            <div id="hideoncomplete">
                <div class="dashboardform-label">Name:&nbsp;&nbsp;&nbsp;<div class="dashboardregular-text" style="display:inline;">{{user.name}}</div></div>
                <div class="dashboardform-label">Email:&nbsp;&nbsp;&nbsp;<div class="dashboardregular-text" style="display:inline;">{{user.email}}</div></div>
                <div class="dashboardform-label">Password:&nbsp;&nbsp;&nbsp;<div class="dashboardregular-text" style="display:inline;">*******&nbsp;<a href="#/account/password">update</a></div></div>
            </div>
        </div>
    </div>
</div>