@()

@main("example.com / Reset Password") {
<div class="container" ng-controller="RegisterUserController">
    <div ng-show="200!=status">
        <h2>Forgot your password?</h2>
        <hr/>
        <div id="dashboardpage">
            <div id="dashboardform">
                <div id="hideoncomplete">
                    Enter your email address below and we'll send you a link to reset your password.
                    <form name='forgotPasswordForm' ng-submit="register(forgotPasswordForm.$valid)">
                        <div class="dashboardform-label">Email</div>
                        <input class="dashboardform-input" name='emailField' type='email' spellcheck='false' ng-model="request.email" required/>
                        <div class="error-message-inline" ng-show="0==status&&forgotPasswordForm.emailField.$invalid">*Invalid email address*</div>
                        <!--IF USER DOESNT EXIST SEND SIGNUP-->
                        <div class="error-message" ng-show="0!=status&&1!=status&&200!=status"><br />*Oops, something happened... Try again.*</div>
                        <div class="hidden-submit"><input type="submit" tabindex="-1"/></div>
                    </form>
                    <div id="dashboardform-button">
                        <a class="signup green-button-2" onclick="$('Form').submit()">Reset password</a>
                    </div>
                    <br /><br /><br />
                </div>
            </div>
        </div>
    </div>
    <div style="display: none" ng-show="200==status">
        <h2>Check your inbox</h2>
        <hr/>
        <div id="dashboardpage">
            <div id="dashboardform">
                Confirmation email sent. Check your inbox for the next step.
            </div>
            <br /><br /><br /> <br /><br /><br /> <br /><br /><br /><br /><br /><br /> <br /><br /><br /> <br /><br /><br /><br /><br /><br /><br /><br />
        </div>
    </div>
</div>
}